body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body, html{
    height: 100%;
}

header{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 75%;
    margin: 0 auto;
}

a{
    color: black;
    text-decoration: none;
}

/*HEADER*/

#menu{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

#menu a{
    font-size: 1em;
    color:black;
}

.menu__logo a{
    display: flex;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
}

.menu__logo a img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}

a:hover{
    color: grey !important;
}

.hamburger{
    display: none;
}

.overlay{
    display: none;
}

.hamburger__image {
    display: none;
}

/* MAIN CONTACT*/

#contact{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    font-weight: lighter;
}

#contact #contact__image{
    width:100%;
    height:auto;
}

#contact #contact__info{
    background-color: black;
    color: white;
    padding: 30px 35px;
}

#contact a{
    color: white;
    font-size:.9em;
    justify-content: flex-start;
    padding-top: 7px;
    z-index: 1000;
}

#contact a img{
    width: 30px;
    padding-right: 10px;
}

#contact h2{
    text-transform: uppercase;
    letter-spacing:.1rem;
    font-weight:400;
    text-align: center;
    margin: 0px;
}

#contact p{
    font-size: 1.2em;
    padding-top: 7px;
    font-weight:300;
}

#contact__border{
    width: 32%;
    position: absolute;
    top: 25%;
    left: 25%;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

#contact__border::before, 
#contact__border::after { 
    border: solid 4px black;
    background: transparant;
    content: '';
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0; 
}

#contact__border::before {
    border-bottom: 0;
    border-left: 0;
    left: 0px;
    top: -4px;
    transition: opacity 0s .4s, width .1s .3s, height .1s .2s;

}
#contact__border::after {
    border-right: 0;
    border-top: 0;
    bottom: -4px;
    right: -4px;
}

#contact__border:hover::before,
#contact__border:hover::after {
    height: 100%;
    opacity: 1;
    width: 100%;
}

#contact__border:hover::before { 
    transition: opacity 0s 0s, width .1s 0s, height .1s .1s; 
}

#contact__border::after { 
    transition: opacity 0s .2s, width .1s .1s, height .1s 0s; 
}

#contact__border:hover::after { 
    transition: opacity 0s .2s, width .1s .2s, height .1s .3s; 
}


/* FOOTER */

footer{
    font-family: 'Open Sans', sans-serif;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    padding: 10px 0px;
    margin-top: 0px;
}

footer a {
    color: black;
}

footer a img{
    padding:15px;
}

footer a:hover{
    font-weight:600;
}

#footer__insta__responsive{
    display: none;
}

.instagram__link{
    display: flex;
    align-items: center;
}

.instagram__link img{
    width: 35px;
    height: auto;
    padding-right: 10px;
}

@media screen and (min-width: 375px) and (max-width: 768px) { 
    
    .container{
        width:100%;
    }

    .menu__hamburger{
    background: #FFF;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .hamburger__image img{
        width: 30px;
        height: 30px;
    }

    .hamburger__image{
        margin-right: 10%;
        display: block;
    }

    nav{
        display: none;
    }


        .hamburger {
            padding: 15px 15px;
            display: inline-block;
            cursor: pointer;
            transition-property: opacity, filter;
            transition-duration: 0.15s;
            transition-timing-function: linear;
            font: inherit;
            color: inherit;
            text-transform: none;
            background-color: transparent;
            border: 0;
            margin: 0;
            overflow: visible; }
            .hamburger:hover {
              opacity: 0.7; }
            .hamburger.is-active:hover {
              opacity: 0.7; }
            .hamburger.is-active .hamburger-inner,
            .hamburger.is-active .hamburger-inner::before,
            .hamburger.is-active .hamburger-inner::after {
              background-color: #000; }

          .hamburger-box {
            width: 40px;
            height: 24px;
            display: inline-block;
            position: relative; }

          .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -2px; }
            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
              width: 40px;
              height: 4px;
              background-color: #000;
              border-radius: 4px;
              position: absolute;
              transition-property: transform;
              transition-duration: 0.15s;
              transition-timing-function: ease; }
            .hamburger-inner::before, .hamburger-inner::after {
              content: "";
              display: block; }
            .hamburger-inner::before {
              top: -10px; }
            .hamburger-inner::after {
              bottom: -10px; }

              .hamburger--3dy .hamburger-box {
                perspective: 80px; }

              .hamburger--3dy .hamburger-inner {
                transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
                .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
                  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

              .hamburger--3dy.is-active .hamburger-inner {
                background-color: transparent !important;
                transform: rotateX(-180deg); }
                .hamburger--3dy.is-active .hamburger-inner::before {
                  transform: translate3d(0, 10px, 0) rotate(45deg); }
                .hamburger--3dy.is-active .hamburger-inner::after {
                  transform: translate3d(0, -10px, 0) rotate(-45deg); }

        .overlay{
            /* border: #000 solid .5px; */
            border-radius: 4px;
            background: #FFF;
        }

        .overlay-on{
            display: flex !important;
            transition: .5s;
            height: 100%;

        }

        .overlay-content{
            margin: 0 auto;
        }

        .menu__logo a{
            display: flex !important;
            flex-direction: column;
            margin: 0 auto;
            line-height: 2em;
        }

        .menu__logo a img{
            width: 50px;
            height: auto;
            margin: 0 auto;
        }

        .menu__logo p {
            margin: 0;
            font-size: 1.5em;
            margin-top: 10px;
        } 



        li{
            margin: 0 auto;
            padding: 30px 45px;
            font-size: 1em;
            text-align: center;
            text-transform: uppercase;
        }

        li:hover{
            background: #7f8c8d;
        }

        .overlay-content li {
            display: grid;
        }

        #contact{
            position : static;
        }

        #contact a{
            font-size: .7em;
        }

        #contact__border{
            position: static;
            display: flex;
            justify-content: center;
            width : 40%;
            padding: 10px;
            border: none;
        }

        #contact__border::before,#contact__border::after {
            display : none;}
        }

        footer{
            flex-direction: column;
            text-align: center;
        }


        #footer__insta{
            display: none;
        }

        #footer__insta__responsive{
            display: flex;
            width: 100%;
            justify-content: center
        }

        #footer__insta__responsive img{
            padding: 0;
        }
 
    }