body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html, header{
    height: 95%
}

header{
    width: 100%;
    margin: 0 auto;
}

/*HEADER*/

nav{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    position: fixed;
    background: #FFF;
    z-index: 10;
    top: 0;
}

a{
    text-decoration: none;
    color: black;
}

.menu__contains{
    margin: 0 auto;
}

.menu__logo{
    font-size: .9em;
}

.menu__logo a{
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5em;
}

.menu__logo p {
    margin: -5px 5px;
}

.menu__logo img{
    margin-top: -10px;
    width: 50px;
    height: 50px;
}

.menu__link ul{
    padding: 10px;
    text-decoration: none;
    list-style: none;
    display: flex;
}

.menu__link ul li{
    padding: 0 30px;
    margin: 0 40px;
    text-align: center;
    font-weight: lighter;
}

.menu__link ul li:nth-child(3){
    margin: -5px 40px !important;
}

.menu__link ul li:nth-child(1){
    margin: -5px 40px !important;
    text-align: left;
}

.menu__link ul li a:hover {
    color: #7f8c8d;
    transition: .3s
}

.background{
    height: 100%;
    background: url(../images/backgroundResize.png) no-repeat center ;
    background-size: cover;
}
/* Main */ 

.first__section{
    width: 100%;
    height: 100%;
}

.first__text{
    margin: 0 auto;
    width: 50%;
    padding: 50px;
    font-size: 1.2em;
    text-align: start;
    line-height: 1.8em;
}

.first__cursor{
    opacity: 1;
    animation: blink 0.7s  infinite;
    -webkit-animation: cursor 0.4s infinite
}

@keyframes cursor{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.second__project{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.second__contains{
    width: 940px;
    margin: 0 auto;
}

.second__title{
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

.second__object{
    width: 100%;
    background: #FFF;
    display: flex;
    flex-wrap: wrap;
}

.object{
    width: 23.23%;
    margin: 45px;
    filter: blur(2px);
}

.object:hover{
    transform: scale(1.1);
    transition: .4s ease-in;
    filter: blur(0);
}

.object img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/*FOOTER*/
footer{
    border: 1px solid black;
}

.foot__content{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    
}

.foot__bio{
    width: 30%;
}

.foot__bio p {
    font-size: .8em;
}

.foot__social{
    margin: 10px 0;
    width:20%;
    text-align: center;
    font-weight: bold;
}

.foot__logo{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.foot__border{
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px;
    width: 20px;
    height: 20px;
}

.foot__logo img{
    width: 20px;
    height: 20px;
}
/*---------TEST*/
.arrow{
    width: 50px;
    height: 39px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.up{
    border: 2px solid black;
    transform: rotate(45deg) ;
}

.down{
    transform: rotate(-45deg) ;
    border: 2px solid black;
}