body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body, html{
    height: 100%;
}

header{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1024px;
    margin: 0 auto;
}

a{
    color: black;
    text-decoration: none;
}

/*HEADER*/

#menu{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

#menu a{
    font-size: 1em;
    color:black;
}

.menu__logo a{
    display: flex;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
}

.menu__logo a img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}

a:hover{
    color: grey !important;
}

.hamburger{
    display: none;
}

.overlay{
    display: none;
}

.background{
    height: 100%;
    background: url(../images/Accueil/ac_photo_cr.jpg) no-repeat fixed center ;
    background-size: cover;
}
/* Main */


.first__text{
    margin: 0px auto;
    margin-top:100px;
    width: 50%;
    padding: 50px;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.8em;
}

.first__cursor{
    opacity: 1;
    animation: cursor 0.4s  infinite;
    -webkit-animation: cursor 0.4s infinite;
}

@keyframes cursor{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.second__project{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.second__contains{
    width: 940px;
    margin: 0 auto;
}

.second__title{
    text-align: center;
    font-size: 2em;
    font-weight:400;
    font-family: 'Robot', sans-serif;
    text-transform: uppercase;
}

.second__object{
    width: 100%;
    background: #FFF;
    display: flex;
    flex-wrap: wrap;
}

.object{
    width: 23.23%;
    margin: 45px;
    filter: grayscale(100%);
}

.object:hover{
    transform: scale(1.2);
    filter: grayscale(0);
    transition: .4s ease-in;
}

.object img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #707070;

}

/*FOOTER*/
footer{
    font-family: 'Open Sans', sans-serif;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    padding: 10px 0px;
    margin-top: 0px;
}

footer a {
    color: black;
}

footer a img{
    padding:15px;
}

.instagram__link{
    display: flex;
    align-items: center;
}

.instagram__link img{
    width: 35px;
    height: auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

    body, html, header{
        height: 95%;
        width: auto;
    }

    .menu__hamburger{
    background: #FFF;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    }

    nav{
        display: none;
    }


        .hamburger {
            padding: 15px 15px;
            display: inline-block;
            cursor: pointer;
            transition-property: opacity, filter;
            transition-duration: 0.15s;
            transition-timing-function: linear;
            font: inherit;
            color: inherit;
            text-transform: none;
            background-color: transparent;
            border: 0;
            margin: 0;
            overflow: visible; }
            .hamburger:hover {
              opacity: 0.7; }
            .hamburger.is-active:hover {
              opacity: 0.7; }
            .hamburger.is-active .hamburger-inner,
            .hamburger.is-active .hamburger-inner::before,
            .hamburger.is-active .hamburger-inner::after {
              background-color: #000; }

          .hamburger-box {
            width: 40px;
            height: 24px;
            display: inline-block;
            position: relative; }

          .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -2px; }
            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
              width: 40px;
              height: 4px;
              background-color: #000;
              border-radius: 4px;
              position: absolute;
              transition-property: transform;
              transition-duration: 0.15s;
              transition-timing-function: ease; }
            .hamburger-inner::before, .hamburger-inner::after {
              content: "";
              display: block; }
            .hamburger-inner::before {
              top: -10px; }
            .hamburger-inner::after {
              bottom: -10px; }

              .hamburger--3dy .hamburger-box {
                perspective: 80px; }

              .hamburger--3dy .hamburger-inner {
                transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
                .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
                  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

              .hamburger--3dy.is-active .hamburger-inner {
                background-color: transparent !important;
                transform: rotateX(-180deg); }
                .hamburger--3dy.is-active .hamburger-inner::before {
                  transform: translate3d(0, 10px, 0) rotate(45deg); }
                .hamburger--3dy.is-active .hamburger-inner::after {
                  transform: translate3d(0, -10px, 0) rotate(-45deg); }

        .overlay{
            /* border: #000 solid .5px; */
            border-radius: 4px;
            background: #FFF;
        }

        .overlay-on{
            display: flex !important;
            transition: .5s;
            height: 100%;

        }

        .overlay-content{
            margin: 0 auto;
        }

        .background{
            background-size: cover;
            background-attachment: initial;
        }

        /* .menu__logo a{
            display: flex !important;
            flex-direction: column;
            margin: 0 auto;
            line-height: 3.5em;
        }

        .menu__logo a img{
            width: 100px;
            height: 100px;
            margin: 0 auto;
        }

        .menu__logo p {
            margin: 0;
            font-size: 1.5em;
            margin-top: 10px;
        } */

        li{
            margin: 0 auto;
            padding: 37px 45px;
            font-size: 1em;
            text-align: center;
            text-transform: uppercase;
        }

        li:hover{
            background: #7f8c8d;
        }

        .overlay-content li {
            display: grid;
        }

        .first__presentation{
            margin: 30px;
        }

        .first__text{
            width: auto;
        }

        .second__project{
            width: auto;
        }

        .second__contains{
            width: auto;
        }

        .object{
            width: auto;
            filter: none;
        }

        .foot__content{
            justify-content: initial;
            flex-direction: column-reverse;
        }

        .foot__social{
            width: auto;
        }

        .foot__bio{
            width: auto;
            text-align: center;
        }

     }
