body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    margin: 0 auto;
}

nav{
    width: 100%;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.menu__contains{
    margin: 15px auto;
}

.menu__logo{
    font-size: .9em;
}

.menu__logo img{
    margin: 0 40px;
}

.menu__link ul{
    padding: 10px;
    text-decoration: none;
    list-style: none;
    display: flex;
}

.menu__link ul li{
    padding: 10px;
    margin: 10px 20px;
    font-weight: bold;
    text-align: center;
}