body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth
}

header{
    width: 100%;
    margin: 0 auto;
}

nav{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    background: #FFF;
    top: 0;
}

a{
    text-decoration: none;
    color: black;
}

.menu__contains{
    margin: 0 auto;
}

.menu__logo{
    font-size: .9em;
}

.menu__logo a{
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5em;
}

.menu__logo p {
    margin: -5px 5px;
}

.menu__logo img{
    margin-top: -10px;
    width: 50px;
    height: 50px;
}

.menu__link ul{
    padding: 10px;
    text-decoration: none;
    list-style: none;
    display: flex;
}

.menu__link ul li{
    padding: 0 30px;
    margin: 0 40px;
    text-align: center;
    font-weight: lighter;
}

.menu__link ul li:nth-child(3){
    margin: -5px 40px !important;
}

.menu__link ul li:nth-child(1){
    margin: -5px 40px !important;
    text-align: left;
}

.menu__link ul li a:hover {
    color: #7f8c8d;
    transition: .3s
}

.hamburger{
    display: none;
}

.overlay{
    display: none;
}

.active{
    color: #7f8c8d;
}
/* SLIDER */
.home__slider{
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    opacity: 1;
    animation: opacity 2s;
}

@keyframes opacity{
    from{opacity: 0;}
    to{opacity: 1;}
}

.first__title{
    margin: 30px;
}

.second__title{
    text-align: center;
    margin: 0;
}

.second__title h3{
    margin: 0;
}

.slider__content{
    display: flex;
    height: 100%;
    
}

.slider{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    transition: all ease-in 1s
}

.sliderContainer{
    display:flex;
    flex-wrap: nowrap;
    transition: all ease-in 1s;
}

.slider__image{
    width: 940px;
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.slider__image img{
    width: 100%;
    height: auto;
    border: 2px solid #707070;
}

.arrowPrevious{
    position: absolute;
    left: 10%;
    top: 0;
    width: 5%;
    height: 6%;
    display: none;
    flex-wrap: wrap;
    margin-top: 23%;
    flex-direction: column;
    justify-content: space-between;
}

.up{
    border: #7f8c8d solid 1px;
    transform: rotate(-30deg) ;
}

.down{
    border: #7f8c8d solid 1px;
    transform: rotate(30deg) ;
}

.arrowNext{
    position: absolute;
    right: 10%;
    top: 0;
    width: 5%;
    height: 6%;
    display: none;
    flex-wrap: wrap;
    margin-top: 22%;
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(180deg)
}

.is-visible{
    display: flex;
}

.disable{
    display: none;
}

.change__container{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.slider__change{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    
}

.slider__button{
    width: 23.23%;
    margin: 45px;
}

.slider__button img{
    width: 100%;
}

/*FOOTER*/

footer{
    border: 1px solid black;
}

.foot__content{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

.foot__bio{
    width: 30%;
}

.foot__bio p {
    font-size: .8em;
}

.foot__social{
    margin: 10px 0;
    width:20%;
    text-align: center;
    font-weight: bold;
}

.foot__logo{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.foot__border{
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px;
    width: 20px;
    height: 20px;
}

.foot__logo img{
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 300px) and (max-width: 700px) { 
    
    /*SLIDER*/
    .slider{
        width: 380px;
    }

    .slider__image{
        width: 360px;
    }

    .arrowNav{
    flex-direction: row-reverse;
    height: 26px;
    display: flex;
    justify-content: space-around;
    }

    .arrowNext{
    height: 11px;
    position: initial;
    margin-top: 0;
    }

    .arrowPrevious{
    height: 11px;
    position: initial;
    margin-top: 0;
    }
    /*NAV & FOOTER*/
    body, html, header{
        width: auto;
    }

    .header{
        display: flex;
        justify-content: flex-end;
    }

    .menu__hamburger{
    background: #FFF;
    top: 0;
    z-index: 100;
    width: 100%;
    }
    
    header .header__contains{
        display: none;
    }
    
        .hamburger {
            padding: 15px 15px;
            display: inline-block;
            cursor: pointer;
            transition-property: opacity, filter;
            transition-duration: 0.15s;
            transition-timing-function: linear;
            font: inherit;
            color: inherit;
            text-transform: none;
            background-color: transparent;
            border: 0;
            margin: 0;
            overflow: visible; }
            .hamburger:hover {
              opacity: 0.7; }
            .hamburger.is-active:hover {
              opacity: 0.7; }
            .hamburger.is-active .hamburger-inner,
            .hamburger.is-active .hamburger-inner::before,
            .hamburger.is-active .hamburger-inner::after {
              background-color: #000; }
          
          .hamburger-box {
            width: 40px;
            height: 24px;
            display: inline-block;
            position: relative; }
          
          .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -2px; }
            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
              width: 40px;
              height: 4px;
              background-color: #000;
              border-radius: 4px;
              position: absolute;
              transition-property: transform;
              transition-duration: 0.15s;
              transition-timing-function: ease; }
            .hamburger-inner::before, .hamburger-inner::after {
              content: "";
              display: block; }
            .hamburger-inner::before {
              top: -10px; }
            .hamburger-inner::after {
              bottom: -10px; }
        
              .hamburger--3dy .hamburger-box {
                perspective: 80px; }
              
              .hamburger--3dy .hamburger-inner {
                transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
                .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
                  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
              
              .hamburger--3dy.is-active .hamburger-inner {
                background-color: transparent !important;
                transform: rotateX(-180deg); }
                .hamburger--3dy.is-active .hamburger-inner::before {
                  transform: translate3d(0, 10px, 0) rotate(45deg); }
                .hamburger--3dy.is-active .hamburger-inner::after {
                  transform: translate3d(0, -10px, 0) rotate(-45deg); }
        
        .overlay{
            /* border: #000 solid .5px; */
            border-radius: 4px;
            background: #FFF;
        }
        
        .overlay-on{
            display: flex !important;
            transition: .5s;
            height: 100%;

        }

        .overlay-content{
            margin: 0 auto;
        }

        .background{
            background-size: cover;
            background-attachment: initial;
        }

        .menu__logo a{
            display: flex !important;
            flex-direction: column;
            margin: 0 auto;
            line-height: 3.5em;
        }

        .menu__logo img{
            width: 100px;
            height: 100px;
            margin: 0 auto;
        }

        .menu__logo p {
            margin: 0;
            font-size: 1.5em;
            margin-top: 10px;
        }
        
        li{
            margin: 0 auto;
            padding: 37px 45px;
            font-size: 1em;
            text-align: center;
            text-transform: uppercase;
        }

        li:hover{
            background: #7f8c8d;
        }
        
        .overlay-content li {
            display: grid;
        }

        .first__presentation{
            margin: 30px;
        }

        .first__text{
            width: auto;
        }

        .change__container{
            width: auto;
        }

        .slider__button{
            width: auto;
            filter: none;
        }

        .foot__content{
            justify-content: initial;
            flex-direction: column-reverse;
        }

        .foot__social{
            width: auto;
        }

        .foot__bio{
            width: auto;
            text-align: center;
        }
        
    }