body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html, header{
    height: 50%;
}

header{
    width: 100%;
    margin: 0 auto;
}

nav{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    background: #FFF;
    top: 0;
}

a{
    text-decoration: none;
    color: black;
}

.menu__contains{
    margin: 0 auto;
}

.menu__logo{
    font-size: .9em;
}

.menu__logo a{
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5em;
}

.menu__logo p {
    margin: -5px 5px;
}

.menu__logo img{
    margin-top: -10px;
    width: 50px;
    height: 50px;
}

.menu__link ul{
    padding: 10px;
    text-decoration: none;
    list-style: none;
    display: flex;
}

.menu__link ul li{
    padding: 0 30px;
    margin: 0 40px;
    text-align: center;
    font-weight: lighter;
}

.menu__link ul li:nth-child(3){
    margin: -5px 40px !important;
}

.menu__link ul li:nth-child(1){
    margin: -5px 40px !important;
    text-align: left;
}

.menu__link ul li a:hover {
    color: #7f8c8d;
    transition: .3s
}

.active{
    color: #7f8c8d;
}
/* SLIDER */
.home__slider{
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}

.first__title{
    margin: 30px;
}

.slider__content{
    display: flex;
    height: 100%;
}

.slider{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    transition: all ease-in 1s
}

.sliderContainer{
    display:flex;
    flex-wrap: nowrap;
    transition: all ease-in 1s;
}

.slider__image{
    width: 940px;
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.slider__image img{
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.arrowPrevious{
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 206px;
    display: none;
    flex-wrap: wrap;
    margin-top: 17%;
    flex-direction: column;
    justify-content: space-between;
}

.up{
    border: #7f8c8d solid 1px;
    transform: rotate(-30deg) ;
}

.down{
    border: #7f8c8d solid 1px;
    transform: rotate(30deg) ;
}

.arrowNext{
    position: absolute;
    right: 20%;
    top: 0;
    width: 5%;
    height: 50px;
    display: none;
    flex-wrap: wrap;
    margin-top: 17%;
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(180deg)
}

.is-visible{
    display: flex;
}

.disable{
    display: none;
}

.change__container{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.slider__change{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.slider__button{
    width: 23.23%;
    margin: 45px;
}

/*FOOTER*/

footer{
    border: 1px solid black;
}

.foot__content{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}

.foot__bio{
    width: 30%;
}

.foot__bio p {
    font-size: .8em;
}

.foot__social{
    margin: 10px 0;
    width:20%;
    text-align: center;
    font-weight: bold;
}

.foot__logo{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.foot__border{
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px;
    width: 20px;
    height: 20px;
}

.foot__logo img{
    width: 20px;
    height: 20px;
}